
.topnav {
    background-color: #cdcccc;
    overflow: hidden;
    margin-left: -65px;
  }
  
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(255, 252, 252);
  }
  
  .topnav a.active {
    background-color: #e7ece7;
    color: rgb(14, 14, 14);
  }
  
  button {
    background-color: rgb(226, 229, 223);
  }
  body {
    margin-left: 65px;
  }
  input {
    background-color: rgb(226, 229, 223);
  }